[2013-04-08 20:13] sckott opened #1 "get.datasets returns a list"
It should return a data.frame, from SImon:

"The problem is that when a dataset gets returned it can contain a number of possible submission dates and chronologies, so it's a list with lists, and that makes it hard to turn it into a table with a uniform number of columns and stuff (for me anyway)."

[2013-04-08 22:12] #1 closed, assigned to sckott

[2013-04-08 22:51] karthik opened #2 "Warnings during load"
[code]

I'd suggest adding reshape to the depends list and take it out of import.

[2013-04-08 22:53] karthik opened #3 "get.contacts doesn't work"
These are just the function examples. You should check that an object is of class `data.frame` before melting it.

[code]

[2013-04-09 02:06] #2 closed, assigned to nobody

[2013-04-13 02:40] #3 closed, assigned to SimonGoring

[2013-04-18 18:58] sckott opened #5 "Make tutorial page at ropensci.github.io/neotoma"

[2013-04-18 18:59] sckott opened #6 "Cleanup various"
- change fxn names from x.y to x_y
- move each fxn in to its own file

[2013-04-18 20:03] #6 closed, assigned to nobody

[2013-05-06 16:39] sckott opened #10 "Put some "Quick Start" examples in the README"
Can you put some examples in the readme @SimonGoring so that folks can quickly get a sense for what they can do?

[2013-07-12 13:47] #10 closed, assigned to SimonGoring

[2013-07-12 13:53] SimonGoring opened #15 "Installing from github sends an error"
When I try to install from GitHub I get the following error:

[code]

but running the code for get_download seems to work fine.  Any ideas?

[2013-07-12 14:05] #15 closed, assigned to nobody

[2013-07-12 16:41] gavinsimpson opened #17 "Re-base neotoma to use reshape2 instead of reshape"
When you load **neotoma** you get the following startup messages

[code]

As I understand it, **reshape2** should avoid these infelicities and as it is the new code base will be maintained more closely than **reshape**.

If you want, I can take a stab at this?

[2013-07-12 17:55] #17 closed, assigned to nobody

[2013-07-12 18:01] gavinsimpson opened #19 "Compress data files"
R CMD check raises the following issue:

[code]

Need to compress this file using xz compression if the package is to go to CRAn at some point

[2013-07-12 19:18] gavinsimpson opened #21 "`get_download()` should return a matrix or data.frame for element `count.table`"
`get_download()` crosstabs the downloaded data with `xtabs()` and returns this as component `count.table` via the following code

[code]

An object of class `"xtabs"` isn't that useful though; invariably one would want a data frame or a matrix, but it is somewhat tedious to convert and `"xtabs"` object to either of these more useful classes.

Propose that `get_download()` returns component `count.

[2013-07-12 20:07] #19 closed, assigned to nobody

[2013-07-14 21:10] #21 closed, assigned to nobody

[2013-07-15 22:17] gavinsimpson opened #24 "Data sets in `./data` need to documented"
`R CMD check` reports

[code]

**neotoma** needs documentation for these data sets.

[2013-07-15 22:24] gavinsimpson opened #25 "Argument for `compile_list()` is `data` but `sample` is used in the code"
`R CMD check` warns

[code]

A simple fix is to change line 7 in `./R/compile.list.R` from

[code]

to

[code]

But `data` seems a better name for the object returned by `get_download()`.

Alternatively, the argument could be `object` which is used regularly in R.

[2013-07-16 04:12] gavinsimpson opened #26 "unit tests for neotoma"
As the examples in neotoma are encased in `\dontrun{}`, the package needs some unit tests to avoid changes in one function that breaks other functions.

Whatever solution is chosen, for submission to CRAN some checks may need to be skipped if the time taken to query Neotoma results in too long a package check time.

[2013-07-16 14:29] #25 closed, assigned to nobody

[2013-07-16 17:20] gavinsimpson opened #30 "`get_download()` reports too many data sets downloaded."
This may just be an infelicity. In the example (from `?get_download()`)

[code]

you'll note that `get-download()` prints

[code]

Which it does in the way `get_download()` counts the number of returned records, to whit

[code]

`get_download` throws away `aa[[1]]` and works only with `aa[[2]]`, by which it counts the length of `aa[[2]]` as shown above. Then of that it only then works with `aa[[2]

[2013-07-16 17:26] gavinsimpson opened #31 "`get_publications()` returns many empty columns"
As referenced in #29 `get_publications()` can return a large number of columns, many of which are empty for many rows because a single publication with many authors sets the upper limit on the number of columns in the Author data returned, and all other publications are expanded to match.
#29 proposed to alter `get_publications()` so that it returned a list with two components instead of the singl

[2013-07-16 17:54] gavinsimpson opened #32 "NeotomaDB can return non-count data and non-unique TaxonName data that we crosstab and return as component `counts`"
In fixing `get_download()` after the move to **reshape2** I noted a couple of issues, one of which I have tried to effect a fix for in #29. In the examples for `get_download()` we have

[code]

When forming the `counts` component, the `TaxonName` may not be unique. For example, in this data set `Lycopodium tablets` occurs twice in `TaxonName`, differentiated by the units field. However, we wish to

[2013-07-16 21:21] gavinsimpson opened #33 "Remove dependence on plyr"
Having looked at the code, there is little reason to use **plyr** in **neotoma**. Removing a dependency should make maintaining the package into the future that bit simpler.

I have a [branch](https://github.com/gavinsimpson/neotoma/tree/noplyr) in my repo that has completely removed the dependency on **plyr**. It is ready to be pulled once #29 is merged, should you wish to merge it. At the moment

[2013-07-17 01:58] #24 closed, assigned to SimonGoring

[2013-07-17 02:47] #30 closed, assigned to nobody

[2013-07-20 20:30] SimonGoring opened #38 "Combine multiple records into a meta-sample object"
Some synthesis work uses multiple datasets and while the current objects are great it would be useful to make a meta-sampe object that would contain multiple count data for multiple sites.  Basically a list that mirrors the object returned by `get_download` except:
- `metadata`: instead of metadata for a single record there would be multiple rows
- `sample.meta`: this is generally age data for a s

[2013-07-20 21:44] SimonGoring opened #39 "Have get_download return information for multiple sites."
get_download should be able to return multiple records using a serial call to the API so that code reading:
get_download(c(1, 2, 3, 4))

returns a list of length 4 where each item in the list is a separate assemblage object.

[2013-08-29 02:03] SimonGoring opened #44 "get_download throws warning message"
For some sites (Bondi Section, Billy's Lake and others) the call `get_download` returns a message:
`Aggregation function missing: defaulting to length`

I'm not entirely sure why, it actually doesn't seem to affect the output, but it would be nice to resolve.

[2013-09-07 01:07] #44 closed, assigned to nobody

[2013-09-08 14:11] #39 closed, assigned to nobody

[2013-09-12 22:31] #33 closed, assigned to nobody

[2013-10-20 22:19] SimonGoring opened #56 "Update the pollen equivalence table to incorporate new neotoma taxonomies."
Neotoma has updated some of the taxonomies for some taxa based on new taxon lists.  We need to fix the list so that these equivalences are updated.  Also, pass the list to Eric to double check some of the equivalences.

[2013-10-20 22:38] SimonGoring opened #57 "Dynamically update tables."
There will always be some tables sitting in the package as Rdata files.  It would be great if we could check to see if the tables were out of date by talking to neotoma each time the package is started up.

i.e., on package load check the table on neotoma against the table in the program directory to tell if its been modified since the package was last updated. If the package is older than the las

[2013-10-20 22:48] SimonGoring opened #58 "Get gpids and geographic names"
Search for `gpid` is annoying because it assumes you know the number for each of the geographical units, which most people don't.  It would be great if the `gpid` detected whether a value was a number or a string.  If it's a string then it searches in the `gpid` table, otherwise it just sends the number in.

[2013-10-31 16:05] SimonGoring opened #59 "Getting all datasets fails."
Running the command:
`aa <- get_datasets()`

Returns the error:
`The API call was successful, you have returned  10786 records.
Error in names(x$SubDates) <- c("SubmissionDate", "SubmissionType") :
  'names' attribute [2] must be the same length as the vector [0]
In addition: Warning message:
In getForm(base.uri, .params = cl, binary = FALSE, .encoding = "utf-8",  :
  No inputs passed to form`

No

[2013-11-01 19:50] SimonGoring opened #60 "Get neotoma up onto cran"
Not sure what needs to be done for unit testing. but:
- [x] Unit tests need to be completed
- [x] Bug fixes need to be completed
- [x] Other (non-essential?) cleanup needs to be undertaken
- [x] Documentation needs to be proofread

[2013-11-05 05:20] #59 closed, assigned to nobody

[2013-11-05 06:16] #58 closed, assigned to nobody

[2014-01-30 21:53] SimonGoring opened #66 "Datasets not returning multiple age models"
It used to be that get_download would return multiple age models, not it isn't.  Datasetids 546 and 3131 should have three age models (COHMAP, NAPD1, NAPD2), but right now they're only returning one.

Check to see if this was a change in the API or in the package.

[2014-02-19 16:34] #38 closed, assigned to nobody

[2014-05-06 01:42] #66 closed, assigned to nobody

[2014-05-06 01:45] #57 closed, assigned to nobody

[2014-05-06 02:15] #31 closed, assigned to nobody

[2014-06-24 16:01] SimonGoring opened #82 "Missing space in get_contact success message"
Contact message returns:

`The API call was successful, you have returned 1057records.`

There should be a space after the number.

[2014-06-24 16:15] sosalla opened #83 "Help bug when entering ?neotoma"
No help comes up when typing `?neotoma`

[2014-06-30 01:22] #83 closed, assigned to nobody

[2014-07-01 01:32] #82 closed, assigned to nobody

[2014-07-06 19:53] SimonGoring opened #91 "Some mammal sites throw errors for get_download"
Some sites throw an error:
`Error in rep(NA, ncol(counts)) : invalid 'times' argument`

This happens in the get.samples function in get_download, I assume it' because there's only one sample, but need to debug later.  Happens for example on datasetid 4574

[2014-07-16 01:37] #91 closed, assigned to nobody

[2014-07-28 14:05] SimonGoring opened #97 "README uses deprecated function names."
I can change this, but not right now.

[2014-08-07 19:52] sckott opened #98 "Mapping throws error"
In one of the examples from the manuscript (https://github.com/SimonGoring/neotoma_paper/blob/master/Neotoma_paper.Rmd#L81-L88), I get

[code]

[code]

Is it just me?

[code]

[2014-08-08 02:13] #98 closed, assigned to nobody

[2014-08-08 18:10] #97 closed, assigned to nobody

[2014-08-08 20:59] SimonGoring opened #103 "Bancos Village returns an error for TaxonName."
aa <- get_download(10010)
API call was successful. Returned record for Bancos Village [LA 4380]
Error in count.data$TaxonName : $ operator is invalid for atomic vectors

[2014-08-20 00:43] SimonGoring opened #110 "The `compile_taxa` does not support external tables"
`compile_taxa` does not accept external tables, but should:

So we need to write that in, that's easy:
`compile_taxa(downloads, ext.table = ext.table, list = 'Paleon')`

and revise the help file to reflect this change.

[2014-08-20 15:17] #26 closed, assigned to nobody

[2014-08-21 17:43] karthik opened #113 "Add Windows continuous integration"
Hi @SimonGoring,
We're doing a org wide deployment of Windows builds thanks to @sckott. Today he noticed that we missed Neotoma. Mind if we add it?

[2014-08-21 19:41] sckott opened #115 "Add testthat and knitr packages as Suggests"
Hey @SimonGoring

I think a few pkgs (`testthat` and `knitr`) need to be added to the `DESCRIPTION` file like https://github.com/ropensci/taxize/blob/master/DESCRIPTION#L48

lack of `testthat` is probably why [recent Windows build failed](https://ci.appveyor.com/project/sckott/neotoma/build/1.0.2#L439), and should be in there anyway

and `knitr` because i think you use markdown vignette

[2014-08-21 21:01] gavinsimpson opened #117 "S3 methods not using arguments consistent with their generic"
When you do `R CMD check` on the **neotoma** tarball lots of warnings ar generated along the lines of:

[code]

This is because the S3 methods have been incorrectly set up. An S3 method must have the same arguments as the generic. A method can have additional arguments but it must have the arguments of the generic. In the case above, the `get_dataset.default` method has first argument `siteid` whe

[2014-08-22 00:51] SimonGoring opened #120 "Error in fetch(key) : internal error -3 in R_decompress1"
We keep getting that error on other people's computer when they try to use the help.

lazy-load database '' is corrupt.

[2014-08-22 16:41] gavinsimpson opened #123 "Should `compile_downloads()` be singular?"
The corresponding function is `get_download()`, so should `compile_downloads()` be singular as well?

[2014-08-22 16:44] gavinsimpson opened #124 "Neotoma uses it's own keywords, not those on the approved list"
The `\keyword{}` macro is supposed to only take keywords specified in the `KEYWORDS` file in the R sources. **neotoma** is using it's own keywords. Hence these need editing to be from the approved list, appended below:

[code]

[2014-08-22 16:55] #120 closed, assigned to nobody

[2014-08-22 16:58] SimonGoring opened #126 "Move @gavinsimpson to Authors"
Hi @gavinsimpson, you've made a lot of changes recently, and killed a lot of bugs.  I'd like to move you up to an author for this package if you'd like.

[2014-08-22 17:13] #110 closed, assigned to nobody

[2014-08-22 18:03] gavinsimpson opened #129 "Windows builds failing because of the `.Rproj` file"
The Appveyor Windows builds are failing because the `*.*proj` extension is used to identify a Visual Studio project which the MSBuild script wants to do something with. As the repo has a `*.Rproj` this seems to be being recognised by the build script as a `*.*proj` file in the Visual Studio sense. You can see the error message here: https://ci.appveyor.com/project/sckott/neotoma/build/1.0.21#L5

D

[2014-08-22 19:28] #113 closed, assigned to nobody

[2014-08-29 03:18] SimonGoring opened #132 "Getting an error looking for `llply`"
I'm suddenly getting an error using get_dataset.  It looks like `plyr` isn't being exported or something.  I think the same thing is happening with `RJSONIO` as well.  Is this because the S3 method doesn't call it?

Error in get_dataset.site(western.sites) : could not find function "llply"

[2014-08-29 03:55] gavinsimpson opened #133 "Second example in `?get_dataset` fails to run"
The second example in `?get_dataset` fails on:

[code]

with error

[code]

[2014-08-29 04:07] #129 closed, assigned to nobody

[2014-08-29 15:05] #133 closed, assigned to nobody

[2014-08-30 02:05] #132 closed, assigned to nobody

[2014-09-15 21:05] SimonGoring opened #137 "print method for get_download chokes if any record returns a NULL for `metadata$access.date`"
Should be a simple fix.

[2014-09-16 02:22] #126 closed, assigned to nobody

[2014-09-16 17:31] #137 closed, assigned to nobody

[2014-09-16 23:03] andydawson opened #139 "Using get_download() comment"
I find it a bit confusing that when there is only a single site returned, you still need to index into the first element. For example, if I do

[code]

Then when I do `names(foo)` I get `NULL`. Also when I just try to see the object by typing `foo`, I don't see anything. Not a huge deal, but I use Neotoma and R all the time and was a bit confused by this so thought I'd comment. Maybe if there is s

[2014-09-25 19:24] gavinsimpson opened #141 "Add extractor functions to neotoma"
The ongoing writing of the neotoma paper has demonstrated to me that the package would benefit from some extractor functions to get parts of the various objects returned by the main functions.
### Examples
#### Extracting counts from objects

Users need to use constructs like

[code]

to access the counts for the first data set in `western.comp`.

It would be a nicer user experience if they could

[2014-09-26 03:08] gavinsimpson opened #146 "Add an extractor function for count data"
This issue is linked to #141 and relates to an extractor for count data held within neotoma objects.

This issue can be tracked in the [`add-counts-extractor` branch of my fork](https://github.com/gavinsimpson/neotoma/blob/add-counts-extractor/R/counts.R).

[2014-09-26 04:17] SimonGoring opened #148 "@karthik and @gavinsimpson you're awesome!"
Thanks so much for all your help @karthik and @gavinsimpson.  This package probably could have limped on for a while, but it's really starting to look very polished, and I'm starting to feel much more confident in my own coding, even if some of these discussions make me feel like I'm barely treading water!

[2014-09-28 00:29] gavinsimpson opened #151 "Travis CI is not building neotoma at all"
There have been no builds under Travis CI at all. Is there something wrong with the config or has a switch just not been flicked?

@sckott ?

[2014-09-28 00:31] #151 closed, assigned to nobody

[2014-09-28 01:26] #115 closed, assigned to nobody

[2014-09-28 01:41] #139 closed, assigned to nobody

[2014-10-17 03:37] andydawson opened #158 "compile_taxa.R missed.samples object"
There is an object `missed.samples` in compile_taxa.R that never gets used... not sure what the intention was, but it needs to be fixed or removed.

[2014-10-24 17:31] andydawson opened #159 "get_download() bug for Adeline"
I am getting an error when I run `get_download()` as shown below.

    The API call was successful, you have returned  1 records.

    API call was successful. Returned record for Adeline Lake
    Error in `colnames<-`(`*tmp*`, value = c("taxon.name", "variable.units",  :
      'names' attribute [8] must be the same length as the vector [1]

So far I haven't had problems with others. I'll take a l

[2014-12-16 17:45] sckott opened #160 "Travis builds?"
@SimonGoring  travis builds are erroring https://travis-ci.org/ropensci/neotoma/builds/37320066  Does this indicate the pkg may not operate properly? or is it something minor, or specific to travis

[2015-01-07 21:02] SimonGoring commented on #5
Just going through these now.  Can I stick the neotoma paper into the inst/doc folder then and use it as the vignette?  If so I'll just copy it directly across and stick a little header at the top with the proper citation.

[2015-01-07 21:09] karthik commented on #5
Sounds good. You'll need to turn it into html first and stick it in the root of the `gh-pages` repo.

[2015-01-07 21:25] SimonGoring commented on #160
I referenced this issue in commit c70a92a490d9e17affa122514a39501ed4dc9a26 Not sure if I did it right.

[2015-01-07 21:28] #148 closed

[2015-01-07 21:28] SimonGoring commented on #5
Not sure where that is @karthik.  Is it an ropensci repository?

[2015-01-07 21:31] karthik commented on #5
sorry, by `gh-pages` repo I meant the branch.

So create a new branch called gh-pages
checkout that branch
then copy the vignette into the root of the folder as `index.html`

[2015-01-07 22:39] gavinsimpson commented on #5
@SimonGoring  You **really** *don't* want to do this! The code takes hours to run and so each time we test we'd have to turn off checking of vignettes (which is easy; but then we don't benefit from the test!).

CRAN won't allow you to turn off the creating etc of vignettes so there would be no hope of getting this on CRAN.

[2015-01-07 22:40] SimonGoring commented on #5
@ucfgals I was going to just put the compiled md/html file up there, not
the whole Rmd.  I assume that will work.

On Wed, Jan 7, 2015 at 4:39 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-01-08 03:49] gavinsimpson commented on #5
@SimonGoring That would be OK, but I would include a rendered PDF file or a rendered html. FYI, this would not be considered a vignette in formal R-pkg sense as the sources would not be available nor checked by `R CMD check`. Arbitrary documentation is fine in `inst/doc`, however.

Would be good to include a link to the actual paper on the OQ site once we have that available.

[2015-01-08 20:19] SimonGoring commented on #159
So this was part of a larger issue.  The problem comes from a more inclusive set of datasets than had been previously returned.  The problem should be fixed now.

[2015-01-08 20:19] #159 closed

[2015-01-09 21:23] SimonGoring commented on #158
`missed.samples` is used as part of the warning message that is sent out.  That's its only use, but it is used.

[2015-01-09 21:26] SimonGoring commented on #158
Oh, I found an extra case of the variable, deleted it, and committed from SimonGoring/neotoma 2acd73e

[2015-01-09 21:26] #158 closed

[2015-02-16 20:58] SimonGoring commented on #124
This seems to be cleared up.  I'm going to mark it as closed.

[2015-02-16 20:58] #124 closed

[2015-02-16 20:59] SimonGoring commented on #123
I think this is now covered elsewhere.

[2015-02-16 20:59] #123 closed

[2015-02-16 21:01] SimonGoring opened #163 "Add `bind` and/or `merge` functions."
Combine records using bind or merge as indicated in issue #123.

[2015-02-18 21:18] SimonGoring commented on #160
Hi @sckott, I thought I figured out how to solve the problem but the Travis builds still aren't working.  Any thoughts? @gavinsimpson @karthik

[2015-02-18 21:30] sckott commented on #160
looks like it's a diff. problem than before, where both travis (https://travis-ci.org/ropensci/neotoma/builds/46496313#L1027) and appveyor (https://ci.appveyor.com/project/sckott/neotoma/build/1.0.255#L410) say there's a test that's failing - so maybe fix that first, then see if it works after taht

[2015-02-18 22:14] gavinsimpson commented on #160
It's failing in the `get_geochron` example:

[code]

I don't know why this isn't failing locally for you as those tests should be being run locally as well as on Travis - I think!?, I don't recall setting this so that only Travis would run those tests!

[2015-02-18 22:35] SimonGoring commented on #160
Okay, I'll check it out.

On Wed, Feb 18, 2015 at 4:14 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-18 22:51] SimonGoring commented on #103
This issue is now resolved.

[2015-02-18 22:51] #103 closed

[2015-02-18 23:57] gavinsimpson commented on #160
The `get_download` examples seem to be failing too, at least as far as Appveyor is concerned: https://ci.appveyor.com/project/sckott/neotoma/build/1.0.255#L1864

[2015-02-19 02:07] SimonGoring commented on #160
Okay, I'm trying to fix the S3 methods issues tonight and I think that'll
fix the travis/appveyor errors too since I'll be cleaning up the tests
anyway.

On Wed, Feb 18, 2015 at 5:57 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-19 17:06] SimonGoring commented on #117
Okay, I seem to be having some problems here.  The issue seems to be that if I use the model:

`get_dataset <- function(x, ...)`

The S3 warning goes away but I get a `\usage` warning when I check, that says that the `@param`s for the other parameters (other than `x`, like `datasettype`) aren't used.  THat's fine, I understand why that is, but if I remove them then the help for `get_dataset` isn't

[2015-02-19 17:20] gavinsimpson commented on #117
No, you can't ignore it. The problem is that you aren't documenting the S3 methods for the generic in the same Rd file. At the moment you are generating an `.Rd` file for `get_dataset()`, in which you are documenting some or all the arguments (`@params`) used in other methods. But you don't document those methods in that `.Rd` file.

The way I do this is:

[code]

If the methods use the same argum

[2015-02-19 17:23] SimonGoring commented on #117
Okay, I get this, that's what I've been trying to do, but then when I do:

`?get_dataset`

I only get the help for the generic, right?  I'd rather see the generic help file have all the help that the `default` does.  Does this make sense?

[2015-02-20 01:43] SimonGoring commented on #117
Okay, I think I've figured this out.  I just need more complete documentation in my files.  Working on it.  Thanks @gavinsimpson, sorry for the bother.

[2015-02-20 17:59] SimonGoring commented on #160
Alright!  So, not only have I figured out how Travis and Appveyor work (sort of) I've managed to fix the errors throughout, so I thought everything'd be hunky dory right now.

Having said that, Appveyor seems to be showing a failed build [here](https://ci.appveyor.com/project/sckott/neotoma/build/1.0.264), while travis shows the build passing.  Appveyor seems to choke on the `get_download` example

[2015-02-20 18:00] SimonGoring commented on #117
Finished documenting and rewriting help sections for `roxygen2` blocks in the file.  Pushed as commit https://github.com/ropensci/neotoma/commit/11d9a5c659ad9299e4d89a0f6e7f7d81e81bae27, everything should be cleaned up now.

[2015-02-20 18:06] SimonGoring commented on #60
I think this is all cleared up, except for the issues between Travis and Appveyor as indicated in issue #160.

[2015-02-20 18:12] karthik commented on #160
@SimonGoring Just getting back up to speed on these (and Open Quarternary) after travels.
Are appveyor settings set to fail on warnings? Travis appears to not be set up this way (unless you explicitly set it):

[code]

So maybe that's why its failing?

[2015-02-20 18:25] gavinsimpson commented on #160
It's failing in a test running the example from `?get_download` on a Windows setup. (Anyone got one of those...?) So there is something weird going on there.

[2015-02-20 18:31] SimonGoring commented on #160
I'm running this on a windows setup and it passes fine.

[2015-02-20 18:37] karthik commented on #160
Everything passes fine on my mac, but I get 14 warnings. CI systems can be set to fail on warnings (or explicitly set not to). The travis for this repo appears not to so perhaps that's why its passing and appveyor failing.

[2015-02-20 18:47] SimonGoring commented on #160
I was looking at some of the things people have posted about failures in appveyor on warnings and I didn't find anything to indicate that appveyor should fail on warnings.  Most of it looked like you'd have to make it do that on purpose.  I don't understand appveyor well enough yet though.

Also, the `last 13 lines of code` shown before the termination are coming from `test_neotoma.R`, not `test_e

[2015-02-20 20:37] gavinsimpson commented on #160
The log is pretty clear that running the examples are failing on their system:

https://ci.appveyor.com/project/sckott/neotoma/build/1.0.264#L914
https://ci.appveyor.com/project/sckott/neotoma/build/1.0.264#L1468

The message back from **testthat** is:

[code]

The way `tests/test_examples.R` is written, the message printed:

    Error raised in example: get_download isn't false

is being produced

[2015-02-20 20:40] gavinsimpson commented on #160
PS @SimonGoring what are all those warnings? Are you calling `warning()` in the code? Might be nicer to just call `message()` if the things you are warning about are not really warnings - somethings not right and I made just have done something BAD - but instead are just FYI, I needed to fix something up in this download/data set/site.

[2015-02-20 20:54] gavinsimpson commented on #160
OK, so looking through the [log I see](https://ci.appveyor.com/project/sckott/neotoma/build/1.0.264#L1089) [In the snippet below, the presence of 4 dots `....` is where I have trimmed the output.]

[code]

I think this means the error is happening in the download for **Little Lake (US:Oregon)** and the error is coming from `fromJSON()`. Looking at `get_download.default`, [you are doing](https://gi

[2015-02-20 21:00] SimonGoring commented on #160
I don't think that's the problem.  There's warnings thrown elsewhere that
don't cause problems.  It's showing invalid JSON input, so maybe it's
something with the character set in Marion Lake (which seems to be the site
it keeps choking on).

Simon

On Fri, Feb 20, 2015 at 2:40 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-20 21:19] SimonGoring commented on #160
Any chance [this](https://github.com/hadley/ggplot2/issues/1056) is related:

https://github.com/hadley/ggplot2/issues/1056

[2015-02-20 21:29] gavinsimpson commented on #160
The error is either in `Little Lake (US:Oregon)` or `Mosquito Lake Bog` as those are the two API calls that bracket the Error (at least the `fromJSON()` error). Where are you seeing Marion Lake?

If you want a second opinion, through the source tarball at Uwe's [WinBuilder system](http://win-builder.r-project.org/) and see if it generates an error.

But rather than guess, do as I suggested and com

[2015-02-20 21:30] gavinsimpson commented on #160
I see you're now doing that....

[2015-02-20 21:33] SimonGoring commented on #160
:)

Yeah, in the dataset list "Marion Lake" is immediately between Little Lake
and Mosquito lake, so I think it's working for Little Lake, throws an error
for Marion, then works again for Mosquito?  I'm not sure, but Marion Lake
should be in between the two since it's in between them in the dataset
order.

On Fri, Feb 20, 2015 at 3:30 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-20 21:42] gavinsimpson commented on #160
OK, so the error is now indicated to be in `get_geochron()`: https://ci.appveyor.com/project/sckott/neotoma/build/1.0.266#L1300

@SimonGoring can you comment out all the code in `tests/test_examples.R`, and **make no other changes**, commit that and we can see if that cures the build problem. If it does, we can start narrowing it down. But only make one change at a time.

[2015-02-20 21:53] SimonGoring commented on #160
Done.

On Fri, Feb 20, 2015 at 3:42 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-20 22:03] SimonGoring commented on #160
Okay, so it passes.  Done and done.  I'll leave the `test_examples.R` for my local builds and ignore it for CRAN?

[2015-02-20 22:06] gavinsimpson commented on #160
@SimonGoring No, you've gotten this backwards. These tests are there to see when we break things. We want these on on the CI. What we need to do is stop them running on CRAN and I haven't done that bit yet, but I believe `testthat` now has an easy-to-use option for this, so reinstate the example checking and I'll figure out how to tickle testthat to do what we want.

Better would be to work out wh

[2015-02-20 22:09] SimonGoring commented on #160
Sorry, I was joking.  Yes, the problem now is that it's apparently both `get_geochron` and `get_download`.

So I did change `test_neotoma.R` in the second to last commit and added all the datasets around the failure in `get_download`, but that apparently didn't fail, so . . . weird.

[2015-02-20 22:23] SimonGoring commented on #160
Okay, so it's just `get_download` and `get_geochron`.  I'll go look at them to see if I can figure out what the problem is.

[2015-02-20 22:53] gavinsimpson commented on #60
We've still got issues.

 * [ ] need to make `gp.table` be a sysdata object and not use `data(gp.table()` in the code/function,
 * [ ] need to wrap the text/code in the example for `get_download()` in particular this line which `R CMD check` is complaining about

         Rd file 'get_download.Rd':
         \examples lines wider than 100 characters:
         t8kyr.datasets <- get_dataset(taxonname

[2015-02-21 00:02] SimonGoring commented on #60
I'll go through these.  It's dinner & family time now.

On Fri, Feb 20, 2015 at 4:53 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-21 00:57] gavinsimpson commented on #60
@SimonGoring you can delicate remember! Add an issue for each outstanding problem and allocate someone to fix it. Worst that can happen is that said person declines. I've held off doing anything of late as you been touching the code base all over and I wasn't sure what you were and weren't working on.

[2015-02-22 03:21] SimonGoring commented on #146
Gavin, have you made any progress on this?  I was thinking that we could try to add a method for Stratiplot from a `download` object, and make other more explicit links to `analogue`.  Not sure if `neotoma` is the best place for that, or somewhere else, but the extractor function would help.

[2015-02-22 03:24] SimonGoring commented on #60
I'm the king of this castle and I'll do what I want! :)

Just pinged you on the extractor stuff.  I don't think it's the gp.table that's the problem, I think it's things like isoetes that get pinged, but I'll try to track it down.  The gp.table is a list of country names.

[2015-02-22 14:49] gavinsimpson commented on #60
`gp.table` is a separate issue from the non-ASCII strings; you shouldn't be doing `data(foo)` in R function code in packages now. You need `sysdata` for that.

[2015-02-22 15:05] gavinsimpson commented on #146
@SimonGoring yes, but needed to do a bit of fixing up in my [`add-counts-extractor` branch](https://github.com/gavinsimpson/neotoma/blob/add-counts-extractor/R/counts.R) to include all the changes made since we worked on this. Just checking it still works.

[2015-02-22 15:07] gavinsimpson commented on #117
@SimonGoring Has all this fixing of the S3 methods just broken the paper?

[code]

fails now because the first argument name is `x` in neotoma 1.1-0

[2015-02-22 20:55] SimonGoring commented on #60
Okay, I'll look into `sysdata`.

[2015-02-22 21:00] SimonGoring commented on #117
Ugh, yes.  Is it possible to add `sitename` along with `x` and have a call without a declared `x` go to the default method?  I can try to figure this out myself, but suggestions would be welcome.  The other alternative is to go over to OQ and ask them to make the changes for us.

[2015-02-23 03:57] SimonGoring commented on #117
Okay, I've fixed this in commit https://github.com/ropensci/neotoma/commit/3eeeb1815885dd6fb01726aa35022bb957e9ca21, by sticking sitename back in and then adding some checks around `UseMethod`.  Not sure if this is the best way to do it, but it works and provides a somewhat useful warning.

[2015-02-23 16:08] gavinsimpson commented on #117
Uggh, that's nasty. Why not have `sitename` mean either:

 1. a character string containing the site name/identifier, or
 2. an object from which the site name(s) can be determined.

Then get rid of `x` altogether. This will mean you'll need to do a copy-replace on `x` for `sitename` and undo some of the changes in 3eeeb1815885dd6fb01726aa35022bb957e9ca21 but it would make for a nicer interface gi

[2015-02-24 21:45] SimonGoring commented on #117
Yes, I think that's what I've got to do.  I tried to fix it, but it's just too gross to mess around with,

[2015-02-25 17:10] gavinsimpson commented on #117
@SimonGoring Do you want me to fix it back along the lines I suggested?

[2015-02-25 17:12] SimonGoring commented on #117
I have the fix done and I'm going to push it (it checks fine locally), but
I wanted to tackle the sysdata issue at the same time, and then my windows
machine forced me to do a restart.  I'm going to finish it off in about a
1/2 hour.

On Wed, Feb 25, 2015 at 11:10 AM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-25 17:24] gavinsimpson commented on #117
:cry: One feature/fix at a time :-) Atomise your commits/pushes otherwise you'll keep on having trouble with merge conflicts or other contributors will hold off doing work as they won't know what features of the  codebase you may or may not have worked on ;-)

[2015-02-25 17:42] SimonGoring commented on #117
I know.  I'm still working on building the habits necessary for good
collaborative coding :)

On Wed, Feb 25, 2015 at 11:24 AM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-25 17:59] karthik commented on #117
:+1:  :100:
Otherwise it's really hard to keep up!

[2015-02-25 18:01] SimonGoring commented on #60
Just to clarify this, I need to put the tables into a sysdata.rda file,
right?  The one issue I'm concerned with is that while `gp.table` does not
need to be discoverable (and can exist hidden from the user), the
compile_taxon table should be able to be seen using a `data` call.  I think
people should be able to know what's been compressed.  Maybe that's just a
matter of making a new extraction fu

[2015-02-25 18:05] SimonGoring commented on #117
Is there an emoji for hanging your head in shame?

On Wed, Feb 25, 2015 at 12:00 PM, Karthik Ram <notifications@github.com>
wrote:

[2015-02-26 04:04] SimonGoring commented on #160
Okay, @sckott @karthik Appveyor is still failing, and it's failing on 8+ downloads, but not <7 downloads.  Same fromJSON error, I wonder if Appveyor is doing something that truncates the JSON if the call is taking too long?  Or if there's just a timeout on the appveyor side?  Either way, around all the other things I was doing I got Appveyor to pass each time I ran the checks with <7 downloads, re

[2015-02-26 04:12] gavinsimpson commented on #160
@SimonGoring The Travis CI build is now failing too so I suggest that problem gets fixed first and then reduce the size of the tests.

[2015-02-26 04:14] SimonGoring commented on #117
This is (finally) fixed in commit 32ba77bc2a1d03019e4709697075aa89fe354c20

[2015-02-26 04:14] #117 closed

[2015-02-26 04:19] SimonGoring commented on #60
Okay, I've cleared up the sysdata/`data` issue.  Finished with commit https://github.com/ropensci/neotoma/commit/87ad4ad5bea9b0aafafec0d3102c412738ae3646.  Just the ASCII issues left now.

[2015-02-26 04:31] SimonGoring commented on #60
It looks like the non-ASCII characters error is resolved.  Not sure where that happened, I'm trolling through the logs but haven't found it yet.

[2015-02-26 04:34] gavinsimpson commented on #117
@SimonGoring I don't know *why* `R CMD check` isn't complaining, but `get_site` is still wrong. The key bit of information is (taken from [Writing R Extensions](http://cran.r-project.org/doc/manuals/r-release/R-exts.html#Generic-functions-and-methods)):

You have [#L45](https://github.com/ropensci/neotoma/blob/master/R/get_site.R#L45)

[code]

but only [#57](https://github.com/ropensci/neotoma/blo

[2015-02-26 04:35] SimonGoring commented on #160
That problem looks like the API call got truncated at some point, it's
inside a JSON/Curl call, not explicitly part of the actual package.

On Wed, Feb 25, 2015 at 10:12 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-27 05:15] gavinsimpson commented on #160
@SimonGoring I'm close to having gotten this tracked down to a few calls in `test_neotom.R`. Had hoped to finish this this evening but Travis is being slow to bootstrap the R instance for testing.

A few more iterations and I'll have this narrowed down, but may have to wait until tomorrow if Travis doesn't pull it's finger out.

I've also updated the r-Travis config to the new native R support and

[2015-02-27 19:15] karthik commented on #160
made the test that runs the examples not get checked/run when on CRAN.

I don't see these anywhere. Are these local changes yet to be pushed?

On Thu, Feb 26, 2015 at 9:15 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-27 19:16] SimonGoring commented on #160
Thanks Gavin!

On Thu, Feb 26, 2015 at 11:15 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-02-27 19:24] gavinsimpson commented on #160
@karthik Not here, as I'm beginning to wonder if the Travis build errors are random, but you can see these in my clone: https://github.com/gavinsimpson/neotoma/tree/update-testing, where we now just have

[code]

See: https://github.com/gavinsimpson/neotoma/blob/update-testing/.travis.yml

[2015-03-30 11:34] Maarten14C opened #174 "get_publication gets lots of NAs"
Hi,
I am getting confused by the following:
allchrons <- get_dataset(,"geochronologic", gpid=2845) # could use wider search area but this one results a manageable 25 records instead of thousands
Then trying to find the corresponding publications (thanks to Simon for suggesting this):
pubs <- lapply(allchrons, function(x) get_publication(datasetid=x$dataset$dataset.id))
which results in mostly NAs.

[2015-03-30 21:55] SimonGoring commented on #174
Hi Maarten, I've tracked down the problem.  Unfortunately it seems to be a Neotoma issue that I will try to resolve on that end.

The issue is that Geochronological datasets were split off from other datasets recently (within the last year or so) and served up uniquely only recently.  As such many of them have unassigned publications.  In working with @andydawson we found several like this.

So, h

[2015-04-30 14:44] #174 closed

[2015-04-30 14:55] SimonGoring opened #175 "GPIDs not registering."
From user bug note:

```s = get_site(gpid='Canada')```

Returns an error:
[code]

[2015-04-30 16:24] SimonGoring commented on #175
This issue (on the R side) is fixed in commit 1a601eb7dedc5b4570e7b7f2e74ac19693ceb216.  There remains a server-side error relating to searches for gpid alone.

[2015-04-30 16:24] #175 closed

[2015-04-30 18:55] SimonGoring commented on #160
Hello @karthik @gavinsimpson @sckott, things are passing now, but as @gavinsimpson pointed out, he had to comment out a lot of code for it to work.  Having said that, the package passes the tests locally.

I'm wondering if we want to do any more work on this, or if it's enough to just leave the tests local and close this issue.  Thoughts?

[2015-04-30 19:03] SimonGoring commented on #60
Alright.  Right now it looks like everything is cleared up.  I've updated my local R version and am running the checks right now, but things all seem to be passing.  The last outstanding issue is the Appveyor and Travis problem (Issue #160) but these problems seem to be tied to the tests.

Given that all tests pass locally and we're not getting flagged for any Errors, warnings or notes, I'm going

[2015-04-30 19:21] gavinsimpson commented on #160
@SimonGoring At the very least, build the tarball and submit it to WinBuilder for both current and R Devel versions (you need to do this twice, once per version - and no idea if devtools can do this for you). If things are working without Notes, Warnings, Errors there, then we can probably be certain it will work on the main CRAN test farm.

Once you get the test results back can you post links he

[2015-04-30 19:21] gavinsimpson commented on #160
URL for win-builder is: http://win-builder.r-project.org/

[2015-04-30 19:40] SimonGoring commented on #160
I just sent it to win-builder using the `devtools::build_win()`  When I get the email I'll post the reply here.

[2015-05-01 17:32] gavinsimpson opened #176 "Failing tests"
I turned on all the tests in in `tests/test_neotoma.R` and the situation is not great. Lots of tests failing for variety of reasons. I append the full failure log below.

Note that this was without the new test @SimonGoring added [that has a syntax error in it](https://github.com/ropensci/neotoma/commit/d9e5d3d08d81e45e2744cda47388832d642c7a56#diff-0207df13565e152ce8a80e2a591a4de3R36)

We need to

[2015-05-01 17:35] SimonGoring commented on #176
I have no idea what's going on then.  Everything worked for me yesterday.  I'll have to dig in and check. . .

Those server errors are neotoma API errors presumably, and that might be because they've been fixing some things on their end today, so the API might have been up and down . .  . but I'm not sure.

[2015-05-01 17:39] gavinsimpson commented on #160
I've run `R CMD check` using R 3.2-patched and I turned on all the tests in `tests/testthat/test_neotoma.R` (with one exception) and we're getting lots of failures, most of which suggest problems with the code that we are not catching because the examples are turned off in the Rd files and don't stretch the uses of **neotoma** and because we (I) had temporarily turned off these tests a while back

[2015-05-01 17:46] gavinsimpson commented on #176
@SimonGoring Unless you uncommented all the commented tests in `test_neotom.R` and re-ran `R CMD check` you wouldn't see any of this. I'm going to push my changes that activate these tests so that you see what I see and we'll see what Travis and Appveyor make of it too.

Once I've done the PR, can you merge in and check out the test you added which (as indicated elsewhere) has a syntax error in it

[2015-05-01 18:24] SimonGoring commented on #176
Okay, working this out now.

On Fri, May 1, 2015 at 12:46 PM, Gavin Simpson <notifications@github.com>
wrote:

[2015-05-02 03:25] SimonGoring commented on #176
So it looks like everything is resolved ad that the tests were failing on the server side, not the package side.  I've added some tests into `test-neotoma` to explicitly test the API results outside of the package.  I'm marking this as resolved.

[2015-05-02 03:25] #176 closed

[2015-05-02 03:28] SimonGoring commented on #60
So, things are running on Linux according to Travis, I don't know if @gavinsimpson needs to compile, but is certainly welcome to.  There are two notes that seem to remain in the Travis build, and I'm not sure how to resolve them.  Are these critical issues @karthik or @gavinsimpson? or will CRAN accept the build as is?

[2015-05-02 04:14] gavinsimpson commented on #60
@SimonGoring Those two NOTEs are fine. The first you'll always get with `--as-cran` as it just flags up the maintainer and the licence of the package as a quick check for the CRAN bods. The second is just a Travis config issue - the system doesn't seem configured with a library location or repository so the package dependency checks haven't been completed there fully. This will go away on CRAN whe

[2015-05-04 01:27] SimonGoring commented on #60
We're up on CRAN so I'm going to close this.  Thanks everyone!

[2015-05-04 01:27] #60 closed

[2015-05-04 04:48] sckott commented on #60
:rocket:

[2015-05-20 21:16] andydawson opened #178 "`get_chroncontrol` returns error for chronology id 1430"
When I try to use get_chroncontrol to pull chronology with id 1430 I get the following:

`Error in do.call(rbind.data.frame, lapply(aa, "[[", "controls")[[1]]) :
  second argument must be a list`

The core is varved, but does have a chronology id so I don't know if it actually exists in the neotoma db as a geochron object or not.

@SimonGoring :)

[2015-05-21 03:06] SimonGoring commented on #178
It's a varved record that doesn't seem to have depth associated with the varves.  I'm going to check this a bit further but want to make some notes here:

* Currently (May 20, 2015) Neotoma has 8457 registered chronologies.  Of these, 2346 return errors.
* There is a big block of failing chronologies around 5500 - ~7500.
* Because of the neotoma structure we don't actually know what datasets these

[2015-05-21 03:26] SimonGoring commented on #178
The fix for this is now in a new branch [iss178](https://github.com/ropensci/neotoma/tree/iss178).  I'm going to leave it in the branch for a couple days.  I'm not sure if having returning an error or an empty chroncontrol is the best option.  If you want to check it out @andydawson let me know what you think.

[2015-05-21 15:35] SimonGoring opened #179 "Taxonomic resolution"
The taxonomy tables in the `neotoma` pacage deal exclusively with pollen for the time being.  I've spoken with [Joan Bunbury](http://www.uwlax.edu/profile/jbunbury/) and she's suggested that Ostracodes don't need any kind of synonomy as they currently stand.

Other than that it's not clear what other kinds of synonomies might be needed.

For Pollen, some of the things we're working on:
- [] Europe

[2015-05-21 16:13] SimonGoring opened #180 "Inconsistent default order in chronologies."
When multiple chronologies exist for a record the `sample.meta` contains the default chronology, but the associated `chronology` objects are not ordered with the default first.

[2015-05-22 08:06] jssalonen commented on #179
These pollen synthesis issues came up during our work to bring a (northern) subset of the EMPD down to a taxonomic level ~similar to e.g. Whitmore.

The major issues are Huperzia selago and the anthropogenic Poaceae, as they occur in fair numbers in the data. The others are pretty inconsequential, at least as far as the EMPD synthesis is concerned.

About Huperzia -- it's actually not within Polyp

[2015-05-28 15:22] SimonGoring opened #181 "create `download` method for `get_chroncontrol`"
Currently if someone wants to get the chroncontrol tables for a set of records they have to do the following (from scratch):

[code]
It would be better if we could just wrap this more clearly into a chroncontrol object, with a method for `download`s.

[2015-05-28 20:19] SimonGoring commented on #178
I've now merged the branch iss178 with the master branch as part of broader changes to `get_chroncontrol`.  This issue is resolved.

[2015-05-28 20:19] #178 closed

[2015-05-28 20:20] SimonGoring commented on #181
This issue is resolved with commit 2c452017767fb4c65d54ebe4d3d97de6b5816e37.  There are now methods for `download` and `download_list` objects.

[2015-05-28 20:20] #181 closed

[2015-06-01 20:52] SimonGoring opened #182 "Compile geochron table lists & chronology table lists to a data.frame"
In general this is probably just a `do.call` but it's problematic because the `get_chroncontrol` does not return the parent site, so we don't know exactly what the parent datasets are  (in the worst case):

Currently my proposed solution is this:

[code]
The `site.index` column could then be associated with sites if we know the site order.  If the function had inputs for `chron.table` and `assoc.i

[2015-06-03 02:22] SimonGoring opened #183 "Strange error from `get_chroncontrol` invalid `chronology.id`."
A user has reported that the following code:

[code]
returns the following message:

[code]

I'm not sure if this is an error with a poorly assigned `chronology.id` (or empty value) passed by Neotoma itself or an error in the function.  I'm running some tests to see.  If it's the site I'll add a try-catch and put something in the tests.

[2015-06-03 15:26] SimonGoring commented on #183
So it's clearly an error in the assignment of `chronology.id`s.  Changing the code to:

[code]

returns:

[code]

Of these, 5 have NA values for the `chronology.id`.  It's a bit strange:
 * Mud Lake ([explorer](http://apps.neotomadb.org/Explorer/?datasetid=1776)) should have a chronology table, but doesn't appear to.
 * Plan du Laus ([explorer](http://apps.neotomadb.org/Explorer/?datasetid=3869))

[2015-06-03 15:26] SimonGoring opened #184 "Add method to accept gzip `download_lists` from the API"
This will speed up the process of obtaining bulk downloads enormously, but I need some time to sit down and write it out because it's a bit complicated.  It's worth creating a new branch and working on it there.

[2015-06-03 15:30] SimonGoring opened #185 "Command to open site in browser with Neotoma Explorer."
It should be pretty straightforward, something like:

[code]

should open Neotoma Explorer at [this site](http://apps.neotomadb.org/Explorer/?datasetid=7878).  Presumably using [browseURL](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/browseURL.html).

[2015-06-03 16:16] SimonGoring commented on #183
This seems to have been resolved in v1.3.0, the errors must have been from the use of an older version.  I'm going to close this issue.

[2015-06-03 16:26] gavinsimpson commented on #185
Why not just `browse()`?

[2015-06-03 20:44] SimonGoring commented on #185
That works too.  I'm indifferent, I just want the functionality and wanted
to remind myself to do it.  Simpler is obviously better.
On Jun 3, 2015 11:26, "Gavin Simpson" <notifications@github.com> wrote:

[2015-06-03 20:49] gavinsimpson commented on #185
Reasons other than "simpler" include being future proof if you implement as a S3 generic so you can add methods for other functions / data types (of that makes sense), not just a `"dataset"`

[2015-06-03 21:21] SimonGoring commented on #185
That is a much better reason, thanks!  I can add those methods right away
anyways. Out of the box it should work with download and dataset objects.
On Jun 3, 2015 15:49, "Gavin Simpson" <notifications@github.com> wrote:

[2015-06-04 14:57] SimonGoring opened #186 "`write_agefile` has no example."
There is commented text, but no actual code example.

[2015-06-04 18:55] SimonGoring commented on #183
I was wrong.  This is a different error than the one I fixed.  This one is caused by `NA` values in the chronology table.

[2015-06-04 19:17] SimonGoring commented on #183
This error now seems to be resolved following commit https://github.com/ropensci/neotoma/commit/b13cf352b6f042792ad44b464605288cb88d98c3 which now does the check for NA values in the `chronology.id` before it gets passed to the API.

[2015-06-04 19:17] #183 closed

[2015-06-14 15:38] SimonGoring opened #187 "`print.dataset_list` appears to return warnings with empty lists"
[code]

These warnings need to be checked and dealt with.

[2015-06-14 15:42] SimonGoring opened #188 "Add `plot` methods for all objects."
Plot method could:
  - [x] reflect dataset type
  - [ ] plot an underlying map
  - [ ] automagically limit the x & ys
  - [ ] ???

[2015-06-15 15:15] SimonGoring opened #189 "Weird output from gist - issue with `get_chroncontrol`?"
Using this [gist](https://gist.github.com/SimonGoring/877dd71cc3ad6bf8531e) generally works with the most recent commit, but the line:

`sapply(dated_samples, function(x)nrow(x$chron.control))`

Is returning a list because some of the `nrow`s appear to be returning `NULL` values.  I generally understand why, but this behaviour should be fixed.

[2015-06-15 18:15] SimonGoring opened #190 "The big list of `checkUsage` output."
I'm willing to let most of these slide (probably) but thought this shold be here for posterity in case any of these pop up as problems later.

# Bind
- [ ] bind : <anonymous>: parameter ‘x’ changed by assignment (C:/Users/Simon Goring/Documents/GitHub/neotoma_ropensci/R/bind.R:62-65)
- [ ] bind : <anonymous>: parameter ‘x’ changed by assignment (C:/Users/Simon Goring/Documents/GitHub/neotoma_ropen

[2015-06-15 18:21] SimonGoring opened #191 "Get rid of deprecated functions."
These have been hanging around for a while.  It might be worth getting rid of them at v1.4.

[2015-06-15 18:33] SimonGoring commented on #189
This issue is resolved in commit https://github.com/ropensci/neotoma/commit/10409903fe7a668f1641ecc186e2bcc788b1ef61.  The problem stemmed from an incorrect assignment of `parent` when data had empty chroncontrol tables.

[2015-06-15 18:33] #189 closed

[2015-06-19 18:48] SimonGoring opened #192 "Absent modifiers in `get_download`"
From an email bug report:

[code]

[2015-06-19 19:22] kcmaguire commented on #192
I also get this warning message when a taxon is listed twice because there is MNI and NISP data. The result is the count number is the NISP + MNI for that taxon.

[2015-06-20 02:08] SimonGoring commented on #192
Okay, I think that this might be a bit more complicated to resolve, because it means we need to rethink the way the taxa are represented in the `count` objects.  For your purposes are NISP and MNI both 'Presence'?  If so then you could just write a short function:

[code]

and then lapply on a `download_list` object.

It's not the prettiest solution but I think it ought to work.  Would columns `Ma

[2015-06-20 05:18] kcmaguire commented on #192
For our purposes right now, we can treat NISP and MNI as presences so I can use a function to convert them but in the future it will be better to keep the original NISP and MNI information. Having two columns or two rows for taxa with NISP and MNI would work. Or an additional column that indicates if the count is an NISP or MNI, although I don't know how much of a pain this is. Thanks for your hel

[2015-06-21 03:43] SimonGoring opened #193 "Add link to species checks"
Note that some species may not be updated immediately.  Is it worth adding a function that calls out to `taxize`?

[2015-06-21 04:22] SimonGoring opened #194 "Add `get_snapshot` to download the most recent SQL snapshot."
We would need to modify the API, but we could develop a function that downloads the most recent snapshot. This would require the use of other packages, but could facilitate some other uses for the database in R.

[2015-07-05 21:35] andydawson opened #195 "`get_dataset` returns error when gpid is a vector"
When I run

[code]

I get

[code]

But when I called `get_dataset()` with `gpid=GPID[1]` it works as expected.

Not a big deal, but thought I'd make a note regardless so we can catch and warn when we get around to it.

[2015-07-06 18:10] gavinsimpson commented on #195
We ought to think about handling errors from the server more generally too.

Is this particular issue an error on our end (i.e. how we are using the API), or is this a bug in the API/server code? "`Arithmetic operation resulted in an overflow`" sounds like something that shouldn't happen at all on the server end.

[2015-07-06 19:36] SimonGoring commented on #195
Right now the default is to exit the function and return the server
message, which is exactly what's happening.  I think we can add an extra
message that points to the neotoma bitbucket repository and issues page to
raise the problem.

The problem in this particular case is that it appears that the `gpid` can
accept one or two values but not three.  I'm not sure why.

I've raised the issue in the

[2015-07-07 15:02] SimonGoring opened #196 "Need a more direct link between datasets and publications."
The API for publication should return a link to the parent dataset for the publication, but this is currently not supported by the `neotoma` package or the `neotoma` API, but is raised as an [issue](https://bitbucket.org/neotomadb/neotomaapi/issue/2/create-cleaner-links-between-publication) on the bitbucket repository for the API.

[2015-07-07 15:10] SimonGoring commented on #190
I'm removing all the "may not be used" issues here.

[2015-07-14 20:51] andydawson opened #197 "`chronology.id` in `age.type` column?"
Not sure what is going on here, or if this is an intended update. For the sites I have tried (and maybe all sites), the chronology identification number now appears in the `age.type` column instead of the `chronology.id` column in the objects returned by `get_download`.

For example:

[code]

Is this intentional?

[2015-07-15 01:19] SimonGoring commented on #197
Yeah, that's a bug.  I'm not sure why it's happened all of a sudden, although I suspect it comes from differences in the API between different data set types.  I need to double check, but I thought I tried to fix this by using explicit calls to the column names.  The problem is clearly that `dataset.id` is getting the wrong information, and then everything is shifted over.  I'll try to fix this AS

[2015-07-15 02:10] andydawson commented on #197
Thanks @SimonGoring. I'm also confused by this one!

[2015-07-15 02:11] SimonGoring commented on #197
This is now resolved by commit 83e7441.  I've added tests to ensure it won't happen again.  Use `install_github('ropensci/neotoma)` and everything should be fine.

[2015-07-15 02:11] #197 closed

[2015-07-15 02:12] andydawson commented on #197
Awesome, that was fast! Can you fix all my other (non-neotoma) problems too? :)

[2015-07-15 02:15] SimonGoring commented on #197
Easy. Fixed in commit
83838828282838383838191291291921929191919192191912491291249239234293492349ddd912312391239123912312.
You just have to figure out which repository I used :)

On Tue, Jul 14, 2015 at 9:12 PM, Andria Dawson <notifications@github.com>
wrote:

[2015-07-22 16:40] SimonGoring opened #198 "travis notifications? Who's getting them?"
Hi all, now that I'm figuring out the travis stuff a bit better I notice that someone's got integration with slack.  I was going to add my own token as well, but just wanted to check to see who else is linked to it.

@karthik @sckott @gavinsimpson ?

[2015-07-22 16:44] gavinsimpson commented on #198
I believe this is an ropensci thing.

[2015-07-23 15:55] sckott commented on #198
@SimonGoring yes, commits/issues on this repo go to our slack, as well as travis build reports - i imagine you can add a second notification to go to your slack if you have one

[2015-07-23 15:56] SimonGoring commented on #198
Okay, I did and it seemed to work, but I just got a failure notification
from Travis on a build that passed earlier.  Did you get the same one?

On Thu, Jul 23, 2015 at 10:55 AM, Scott Chamberlain <
notifications@github.com> wrote:

[2015-07-23 16:03] sckott commented on #198
the last travis notification in our slack is from yesterday from this build https://travis-ci.org/ropensci/neotoma/builds/72153289

[2015-07-23 16:17] gavinsimpson commented on #198
The travis build is failing for R code reasons. Quite why `lapply(aa, `[[`, "dataset"]` should throw an error unless the objects in `aa` might not have a `"dataset"` for some some reason is where the problem lies. It might be worth considering adding consistency checks on objects, so that we can throw proper, clear errors if the API returns something we weren't expecting or we missed patching up t

[2015-07-23 16:18] gavinsimpson commented on #198
This of course could be a transient issue due to the website or web API being down or acting funky mid-test of course. But we should try to capture those issues too if we can replicate them at all? Probably easier said than done...

[2015-07-23 16:19] SimonGoring commented on #198
The weird thing to me is that this exact same build (#99) passed yesterday
at 3:46pm, and is failing now.  it makes me think it's a neotoma API side
problem.

On Thu, Jul 23, 2015 at 11:17 AM, Gavin Simpson <notifications@github.com>
wrote:

[2015-07-23 16:23] gavinsimpson commented on #198
Yes - but indicates we could do better identifying when the API has failed to return something we expected it to do.

[2015-07-23 16:26] sckott commented on #198
Is there any unit testing for the API itself?  Or is the testing from this R pkg?

[2015-07-23 18:12] SimonGoring commented on #198
Yes, the first set of tests, so it's not that that's causing the bug.  I'll
mess with it later today to see if I can figure out what it is.  A required
package update possibly (overnight?)?

On Thu, Jul 23, 2015 at 11:26 AM, Scott Chamberlain <
notifications@github.com> wrote:

[2015-07-24 01:53] SimonGoring opened #199 "Failing travis build."
We're getting a failure on travis build [99](https://travis-ci.org/ropensci/neotoma/builds/72189951), but the previous build worked fine.

I just ran the tests and checks on my computer and had no failures, there's no reason the test should be failing.  It's also not entirely clear to me which test it's actually failing.  I assume it's a test in ``test_simple_paper.R`, but they all passed fine for

[2015-07-24 01:54] SimonGoring commented on #198
I'm closing this issue ('who's getting notifications') and moving the Travis failures over to issue #199.

[2015-07-24 01:54] #198 closed

[2015-07-24 02:03] SimonGoring commented on #199
I wonder if this is the same problem as we had with issue #160 where somehow we hit a limit on downloads and the build failed, even though for all intents and purposes there was no problem.  If that's the case, then we just have to remove some of the tests.

[2015-07-24 16:03] gavinsimpson commented on #199
Is the limit imposed by the API? If the code is failing bc we don't have proper objects then we should be checking objects for completeness and issuing errors/warnings if found to be lacking.

If this is is the API rate-limiting or otherwise restricting the Travis machine from pulling in data, the we need to address that. I still think we should do this anyway, but we should cache objects to run t

[2015-07-24 16:38] SimonGoring commented on #199
I'll check with Mike & Brian at PSU.  That's a good point, I hadn't thought
of that.  I've never had a problem with rate-limiting on my computer and
I've loaded lots of data.  That said, I'll double check.

On Fri, Jul 24, 2015 at 11:03 AM, Gavin Simpson <notifications@github.com>
wrote:

[2015-08-22 16:35] SimonGoring commented on #199
Well, the build is passing again, with [102](https://travis-ci.org/ropensci/neotoma/builds/72510101).  I'm a bit at a loss here, but I'm closing this for now because I have too many outstanding issues.

[2015-08-22 16:35] #199 closed

[2015-08-22 16:52] SimonGoring commented on #185
This was implemented in commit https://github.com/ropensci/neotoma/commit/6543f7110fa1ffabf3056e1c4b8b4b0fea801134.  Not sure why I missed closing the issue.

[2015-08-22 16:52] #185 closed

[2015-08-24 10:51] Maarten14C commented on #195
Perhaps related, if I try
get_geochron(get_site(gpid=130)) I get an error message:
Error: Server returned an error message:
 Object reference not set to an instance of an object.
Stack Trace:
   at SpatialIT.CEI.Neotoma.GetRequestHandler.Sites(HttpRequest& request, DB& myDb, HttpApplicationState& Application) in C:\Users\mikea\Documents\Visual Studio 2012\Projects\CEI\Neotoma\APIs\NeotomaDataAPI\G

[2015-08-24 14:51] SimonGoring commented on #195
I am pretty sure that's the error that gets thrown when a gpid has no
sites.  That's why Belgium does okay.  @Maarten14C Are there any gpids
where you know that there are pollen sites but you get that error?

On Mon, Aug 24, 2015 at 5:51 AM, Maarten14C <notifications@github.com>
wrote:

[2015-10-12 19:06] SimonGoring opened #200 "Averaging across modifiers doesn't make sense when modifiers indicate dissimilar items"
With water chemistry it makes no sense to average e.g, surface and bottom water.

[2015-10-15 05:52] SimonGoring commented on #163
This is now added and had its first bug-check here: https://github.com/ropensci/neotoma/commit/3575198703f362ab8be12a6ec0626fa60e81d5f6

[2015-10-15 05:52] #163 closed

[2015-10-15 05:55] SimonGoring commented on #188
Okay, I'm happy-ish with this now.  We get a plot, no added underlying map though to keep things clean.  It pushes over the margin, adds a legend and resets the `par` afterwards.

A bit dopey, but it's okay.  Made a note in commit https://github.com/ropensci/neotoma/commit/e854ef0a8783c4563aef76df4865dbf29acab820 that I'd like to see cleaner plotting, but at this point I'm happy with the plotting

[2015-10-15 05:55] #188 closed

[2015-10-15 05:56] SimonGoring commented on #180
This was fixed in commit https://github.com/ropensci/neotoma/commit/00995003772e1ced4b281b399e6699ec182d0596

[2015-10-15 05:56] #180 closed

[2015-10-19 23:35] kcmaguire opened #201 "get_geochron"
I get the following error when using the get_geochron function:

[code]
Here is a second example:
[code]
To overcome this, I modified the function as so:
[code]

[2015-11-11 07:17] SimonGoring commented on #201
This problem seems to have been a problem with the `print` method (in part) rather than the `get_geochron`.  That's why the fix (commenting out the `class` call) worked to resolve the problem (in part), because it over-rode the print command.

The API for `geochron` does not actually provide the dataset information which is requested when we use the `print.geochronologic` method.

To fix this I've

[2015-11-11 07:17] #201 closed

[2015-11-11 07:18] SimonGoring commented on #187
This issue is resolved now.

[2015-11-11 07:18] #187 closed

[2015-11-11 07:20] SimonGoring commented on #146
This issue is resolved.  Counts works nicely.

[2015-11-11 07:20] #146 closed

[2015-11-12 07:32] SimonGoring commented on #200
I've made a bit of progress, but I'm worried that thich changes a few things.  In particular it changes the structure of the taxon.table.  Not the end of the world (it adds a new column).  The bigger issue is how we would represent the columns in the `count` table.  I had initially intended to just rename the taxa, with the taxon and then the variable units, but it might make more sense to use a u

[2016-02-18 15:50] SimonGoring opened #202 "`get_download` fails on Mud Lake (US:Florida)"
For:
[code]
the function `get_download` fails with the error message:
[code]

[2016-02-18 16:16] SimonGoring opened #203 "`get_download` fails on Refugia Ruin - dataset ID 17817"
Running `get_download` on Refugia Ruin:
[code]

fails with the error message:
[code]

[2016-02-28 18:49] sckott opened #204 "undefined export read.tilia"
https://travis-ci.org/ropensci/neotoma/builds/112085345#L2033

[2016-02-28 19:12] SimonGoring commented on #204
I'm working on this.  The function is half written, it's not supposed to be in the main branch, but it keeps popping up somehow.

[2016-02-28 22:36] sckott commented on #204
k, just in case you weren't aware

[2016-02-28 23:58] SimonGoring commented on #204
No problem.  I made a mistake a the beginning of writing the file, made a
commit without branching first, then couldn't really reverse it.  That's
why there's a flood of commits now.

On Sun, Feb 28, 2016 at 2:36 PM, Scott Chamberlain <notifications@github.com

[2016-02-29 18:53] SimonGoring commented on #204
This issue is resolved with commit https://github.com/ropensci/neotoma/commit/255d60d7501aff3d0db21aa8f6704f3a71fcb6e0.  The `read.tilia` function is finally added, rather than just being a ghost.

[2016-02-29 18:53] #204 closed

[2016-02-29 18:56] SimonGoring commented on #203
This dataset is the result of an incomplete upload to the Neotoma Paleoecological Database.  It failed because it contained some information, but contained no samples.  This issue is resolved in two ways:
1. The dataset itself has been removed from Neotoma
2. Commit https://github.com/ropensci/neotoma/commit/733c1c836868c8474e76d494968776c34f35703c helps deal with empty datasets by providing a war

[2016-02-29 18:56] #203 closed

[2016-02-29 18:57] SimonGoring commented on #202
This was an issue with incomplete chronologies, *e.g.*, many of the samples were dated, but several remained undated.  This issue is ixed in part with commit https://github.com/ropensci/neotoma/commit/9d2b8454fbbe9d6342998d63484473e50d2132c7, but more completely addressed with the change instituted at commit https://github.com/ropensci/neotoma/commit/733c1c836868c8474e76d494968776c34f35703c.

[2016-02-29 18:57] #202 closed

[2016-02-29 18:59] SimonGoring commented on #200
This is now addressed fully through changes in several commits, but fully resolved with commit https://github.com/ropensci/neotoma/commit/6219196cff136b11b455ad51317d08237b73f347, where we provide an aliased taxon name composed of all variable modifiers.  This appears to work with water chemistry.

[2016-02-29 18:59] #200 closed

[2016-05-09 17:01] SimonGoring commented on #196
This is a database side issue and doesn't need to be here.

[2016-05-09 17:01] #196 closed

[2016-06-20 23:08] SimonGoring opened #205 "The default chronology is not the first chronology."

[2016-06-29 17:01] SimonGoring opened #206 "Appveyor failing, can't find `Rcpp`"
I'm not sure what I can do if this is a problem with appveyor of something in my code.  @sckott, the appveyor instance is running out of your account.  Is this something I can fix in my code, or something you need to fix?

[2016-06-29 17:21] sckott commented on #206
i'll have a look..

[2016-06-29 18:51] sckott commented on #206
see also https://github.com/krlmlr/r-appveyor/issues/70

[2016-06-29 18:51] sckott commented on #206
just restarted will see what happens

[2016-06-29 19:56] sckott commented on #206
still getting same problem, will check again soon

[2016-07-07 03:45] SimonGoring commented on #206
This problem seems to be resolved.  Is it something you fixed @sckott?  I'm closing the issue for now.

[2016-07-07 03:50] SimonGoring commented on #195
The latest version of `neotoma` appears to solve the problem @andydawson raised originally (or at least her code returns 252 sites now:

[code]

For @Maarten14C 's bug, where an error is raised for empty datasets, the function appears to work now.  The inner search returns zero sites (as expected) and provides a message that indicates no sites were returned (see below), and then errors because it

[2016-07-07 03:50] #195 closed

[2016-07-07 03:51] SimonGoring commented on #160
Closing this as we seem to have no package side errors any more thanks to everyone's ongoing help :)

[2016-07-07 03:51] #160 closed

[2016-07-07 18:22] SimonGoring opened #207 "Write wrapper for `Bchron` like `write_agefile`."
`Bchron` is an R package for flexible ^14^C calibration and age-model construction.  It's useful and nicely packaged.  We should write a wrapper for the package to allow better interface between Neotoma and `Bchron`.

[2016-07-11 16:06] sckott commented on #206
@SimonGoring no, didn't do anything

[2016-07-27 18:02] SimonGoring commented on #206
We're back to failing again [here](https://ci.appveyor.com/project/sckott/neotoma/build/1.0.876).

[2016-07-28 00:22] sckott opened #208 "git tags and release notes"
@SimonGoring please do remember to git tag each version that's released to cran, and associate news bits with each tag as you've done before

[2016-07-28 04:18] SimonGoring commented on #208
Thanks @sckott, I tweeted before I could tag.  I wanted to be sure it was accepted & then got the notification while I was away from the computer.  Will tag now.

[2016-07-28 04:18] #208 closed

[2016-08-03 21:09] SimonGoring opened #209 "`curl` timeout problem with multiple downloads."
Not entirely sure, this was reported to me, but maybe we need to check some sort of timeout?

[2016-08-12 18:14] andydawson opened #210 "Specifying chronology number in `write_agefile` has no effect."
When there are multiple chronologies, passing chronology=2 versus chronology=1 to `write_agefile` makes no difference.

[2016-08-12 18:23] andydawson commented on #210
I see where the problem is. When `get_chroncontrol` is called with a download object it only returns one chronology.

This happens in lines 57-58 of `write_agefile`:
`chron.controls <- get_chroncontrol(download, verbose = FALSE)`

Ideas?

[2016-08-12 21:56] SimonGoring commented on #210
This is now resolved with PR #211.

[2016-08-12 21:57] SimonGoring commented on #210
Sorry, didn't mean to reopen.

[2016-08-12 21:57] #210 closed

[2016-08-15 21:07] SimonGoring commented on #191
This is now resolved.  All deprecated functions were removed with commit https://github.com/ropensci/neotoma/commit/b5c7638e97d7fc0ed47133fd89a1357a734a6d80#diff-f7f2f3934ed53c8973a3bc45896c81b1.

[2016-08-15 21:07] #191 closed

[2016-08-15 21:09] SimonGoring commented on #186
`write_agefile` has an example as of commit https://github.com/ropensci/neotoma/commit/fbdb479a90fb7c96edb92f398c84ab079cc96284.

[2016-08-15 21:09] #186 closed

[2016-08-15 21:24] IceAgeEcologist opened #212 "get_site(loc) isn't spatially bounded"
get_site() doesn't seem to be working with the bounding box.

For example,
demo_boxsearch_sites <- get_site(loc = c(-88, 25, -79, 30))
demo_boxsearch_sites <- get_site(loc = c(5,5,20,20))

both return a global suite of >8000 records from Neotoma

[2016-08-15 21:28] SimonGoring commented on #212
That's really interesting.  It seems to be an API side issue and should be raised with @spatialit.  I'll add it.  You can use `get_dataset` with the `loc` parameter  and no flag for `datasettype` if that helps.

[2016-08-17 22:22] SimonGoring opened #213 "From form: This is a test of the webform"
This is just a test.  Be sure to close this issue immediately.

*This issue was autogenerated by the Google Form for [Features](https://docs.google.com/forms/d/e/1FAIpQLSdRNat6L9grRF0xU5gibkr26xq9jD9wyHgw_AWxhrgn0lWv7w/viewform)*A notification has been sent to @SimonGoring.

[2016-08-18 16:09] #213 closed

[2016-09-08 17:19] spatialit commented on #212
This was fixed a few weeks ago. Going through GitHub comments today. I don't see any option for me to close this issue.

[2016-09-08 17:24] gavinsimpson commented on #212
@spatialit As neotoma is in the ropensci account, only those users with special permissions can do admin-things. I'm sure @SimonGoring will close this when he has a chance.

[2016-09-08 17:43] SimonGoring commented on #212
Closing the issue.

[2016-09-08 17:43] #212 closed

[2016-09-08 17:49] SimonGoring commented on #206
And passing. . . I'm just going to ignore this from now on.  It seems to clean itself up & isn't a `neotoma` package issue.

[2016-09-08 17:49] #206 closed

[2016-10-21 22:34] SimonGoring opened #214 "Add occurences API endpoint"
Links to [this document.](https://docs.google.com/document/d/1QvO_O8AeH3CPuEKuIPXpvjCS7I0iYXK6jutMIg46j6U/edit#heading=h.wwlmiztijdez)  Might not be shared with everyone. . .

[2016-12-16 20:43] SimonGoring commented on #209
The message proper is:

[code]

[2016-12-16 20:48] SimonGoring commented on #209
This may be related to https://github.com/jeroenooms/curl/issues/72.  I can't replicate on my system.

[2017-01-05 17:41] SimonGoring commented on #205
This is actually a problem with the idea of **default** chronologies in Neotoma and the API return.  Neotoma has a default chronology for each time-scale.  So a record may have a default chronology for both radiocarbon years BP and for calibrated radiocarbon years.  This has been raised in https://github.com/NeotomaDB/Neotoma-API/issues/11 and can't be resolved locally in the `neotoma` package unt

[2017-01-05 17:43] SimonGoring commented on #141
I'm going to close this issue.  The `metadata()` extractor exists as `get_site()` or `get_dataset()`.

[2017-01-05 17:43] #141 closed

[2017-02-02 16:11] rasmus87 opened #215 "Weird return species names"
When I try to pull down some vertebrate info from the db I, some of the species names returned are weird. Little example:

`require(neotoma)
spatial_bounds <- get_dataset(loc = c(-103, 29, -96, 34), ageold = 1000, datasettype = "vertebrate fauna")
all_dls <- get_download(spatial_bounds)
table_format <- compile_downloads(all_dls)
# In the return table, there are some weird species names:
names(tabl

[2017-03-06 01:43] bocinsky opened #217 "`get_dataset` with "datasettype" specified returns other dataset types"
Occurs when object of type `site` is passed to the function:

[code]

My understanding is that the returned datasets should be filtered to only include "pollen" datasets.

NOTE: Does *not* happen when passing a numeric site identifier to `get_dataset`:
[code]

[2017-03-06 04:08] SimonGoring commented on #217
Thanks!  I'll look into this this week.

[2017-03-30 08:10] orb16 opened #219 "read old tilia (.til) files?"
A feature request for your consideration: a function to read old tilia files? Old as in version 1.0, '.til' rather than '.tilx'. I have a dosbox to run DOS tilia, but it would be awesome to loop through (all) the files and read them in. I've tried the `read.tilia` function from this package (fails) and `read.Tilia` from the`rioja`. The `read.Tilia` doesn't fail but doesn't bring in all the data.

[2017-03-30 18:40] SimonGoring commented on #219
If you could attach a version of a file you would like read I'll see what I can do.  I don't have a lot of bandwidth right now though :/  I can look at `read.Tilia()` as well.

[2017-03-31 02:06] orb16 commented on #219
Yes of course! I need to check with my boss which are ok to put on here - will be Monday when I know. Cheers.

[2017-04-03 01:18] orb16 commented on #219
Please see the attached zip folder (includes data and an R script which demonstrates the problem [github_tilia_issue.zip](https://github.com/ropensci/neotoma/files/888790/github_tilia_issue.zip)). There's two problems with `read.Tilia()`:

(1) Illegal characters are returned differently in the returned "data" element (using the nomenclature from the R help entry) compared to the "vars" argument. T

[2017-11-15 18:53] Archaeo-Programmer opened #220 "Response properties/values missing from get_dataset"
Some of the response properties or values that might be returned using get_dataset seem to be missing. For example, `MP <- get_dataset(datasettype='pollen surface sample', gpid = "Colorado")`, returns 4 records. In `MP$`368`$dataset.meta`, there is dataset.id, dataset.name, collection.type, collection.handle, and dataset.type; however, collection.id (or CollUnitID) is not there. It also does not o

[2017-11-18 19:38] SimonGoring commented on #220
Do you need this response property in particular?  The Collection Handle is also unique.  We streamlines some of the response properties in the package, but could expand the objects to include those elements.

Let me know if you want them all.  This might need a workaround as we work to API version 2.

[2017-11-18 23:45] Archaeo-Programmer commented on #220
Thanks for the reply. I was thinking that I could use the Collection ID to be able to navigate to properties associated with each Collection Unit ID. But really the response property that I am interested in is the Collection Date, if one is available that is for a given record. It looks like it does show up when running a script in a browser: [](http://api.neotomadb.org/v1/dbtables/CollectionUnits

[2017-12-13 18:40] jessicablois opened #221 "loc settings in get_dataset"
I tried the following search:
neotoma_datasets_list<- get_dataset(ageold = max_time, ageyoung = min_time, loc = c(-180, 0, -45, 90), datasettype = "vertebrate fauna")

and got the following error:
Error in get_dataset.default(ageold = max_time, ageyoung = min_time, loc = c(-180,  :
  loc must be in the form c(lonW, latS, lonE, latN).
Longitudes from -180 to 180, latitudes from -90 to 90.

However,

[2017-12-13 18:45] jessicablois opened #222 "get_download.dataset_list function not found"
A function (get_download.dataset_list) is listed in the function files, but not found. Example code:

Error in get_download.dataset_list(neotoma_datasets_list) :
  could not find function "get_download.dataset_list"

[2017-12-13 18:47] jessicablois commented on #222
Though perhaps this function is not necessary, since the simpler function "get_download" works on a dataset_list?

[2017-12-13 18:51] SimonGoring commented on #222
Yes, that is the standard way of showing that there is a ‘get_download’ method for ‘dataset_list’.  The function recognizes that there is a ‘dataset_list’ being passed.

[2017-12-13 18:51] #222 closed

[2017-12-13 19:27] gavinsimpson commented on #221
The problem here is only with the latitude of 90; the lower longitude limit doesn't trigger the issue on its own. The buglet is in (Line 148)[https://github.com/ropensci/neotoma/blob/master/R/param_check.R#L148] of `param_check.R`, which has:

[code]

We can reproduce this using:

[code]

which gives

[code]

The issue being the `90` is not in the first interval (-90, 90]. If we request checking o

[2018-01-20 18:23] kdburke opened #223 "compile_taxa function returning unexpected classifications"
Using a pollen object returned by 'get_download,' I'm trying to use the 'WS64' list name as a first pass subset. It looks like some of the expected classifications are missing in the output, however:

- Expecting 'Fraxinus nigra,' 'Fraxinus pennsylvanica/americana' and 'Fraxinus undiff.' the output generated has 'Fraxinus' and 'Total.Fraxinus..sum.of.nigra.penn.undiff'
- Expecting 'Pinus diploxylo

[2018-08-05 21:06] IceAgeEcologist opened #225 "neotoma dependency issues"
@SimonGoring loading _neotoma_ in R leads to a series of dependency/installation issues... requires installing leaflet & shiny - shiny requires 'later', 'promises', 'rlang' which are available only in source form and may require compilation in C/C++/Fortran.    Can't load _neotoma_ without these dependencies resolved.

[2018-08-05 21:36] SimonGoring commented on #225
Is this with:

‘install.packages()’ or with ’library(‘neotoma’)’?

Can you try a fresh install of the package and let me know the output of ‘sessionInfo()’?

[2018-08-05 21:57] IceAgeEcologist commented on #225
R version 3.2.2 (2015-08-14)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods

[2018-08-05 21:58] IceAgeEcologist commented on #225
Also, the results of the install command (a fresh install; I removed neotoma prior to install):

Installing package into ‘C:/Users/Jack Williams/Documents/R/win-library/3.2’
(as ‘lib’ is unspecified)
also installing the dependency ‘leaflet’

  There are binary versions available but the source versions are later:
        binary source needs_compilation
leaflet  1.0.1  2.0.1             FALSE
neoto

[2018-08-05 22:14] gavinsimpson commented on #225
We had this issue today in you GAM workshop. The issue is that your R is too old for binaries for your OS to be available for some of the packages that *neotoma* directly or indirectly depends on. Further, you don't have RTools installed on your machine so you are unable to compile packages from source.

The easiest solution to this would be to update your R to the 3.5.x branch and then `install.p

[2018-08-23 20:47] IceAgeEcologist commented on #225
Gavin, updated R to 3.5.x and that solved the problem.  Thanks!

[2018-08-23 20:47] #225 closed

[2018-11-13 07:37] IqisGnahz commented on #117
I believe it's a good practice to leave the parameter of a generic function as ...

[2019-03-09 00:11] psmits opened #235 "docs for get_dataset out of date"
Hi. The documentation for get_dataset lists "mollusks" as a valid datasettype argument. When this option is given, the function returns an error. Many of the options listed in the error are not listed in the documentation, and some of the other options currently in the docs are not listed as valid options.

[code]

<sup>Created on 2019-03-08 by the [reprex package](https://reprex.tidyverse.org) (v

[2019-03-21 04:02] jessicablois commented on #235
Not sure if this should be a new/separate issue, but it falls under the general heading of "docs for get_dataset" are out of date.  In the help page for get_dataset, Arguments section, x is described as "An optional value, either a numeric **site ID** or object of class download, download_list or site.".  But I believe just setting x = some number queries for DatasetID, not Site ID.

[2019-04-30 16:14] schutzjordan opened #236 "get_publication doesn't retrieve all dataset id's"
Not getting dataset id's of datasets without publications; I've downloaded all of the pollen surface samples from the United States and Canada, and used this loop to try and sort sites that didn't have publications from sites that do.

[code]

[2019-05-01 21:34] SimonGoring commented on #236
Did you start this all with `get_dataset(datasettype="pollen surface sample")`?

I'm not sure where `sitesdownloadpubs` is coming from.

Using `dplyr`, `neotoma` and `purrr` I can create a `data.frame` with each dataset ID and the publications associated with that dataset:

[code]

This indicates that all pollen surface samples from Neotoma in the US & Canada have at least one publication associat

[2019-05-10 15:45] allisonstegner opened #237 "typo in get_dataset documentation"
under Details, where it says "you can use get_tables('datasettypes')", the function should be get_table (minus the s)

[2019-05-10 18:49] SimonGoring commented on #236
@schutzjordan any update?  Did this work for you?

[2019-05-10 19:30] #237 closed

[2019-05-10 19:30] #221 closed

[2019-05-10 19:51] schutzjordan commented on #236
@SimonGoring Hi Simon, sorry for such a late reply! The code you have above seemed to have worked; I'll post below what I had to begin with & how I got `sitesdownloadpubs` .

`#Use argument datasettype to select pollen surface sample datasets only
CanadianSites <- neotoma::get_dataset(datasettype = "pollen surface sample", gpid = "Canada")
AmericanSites <- neotoma::get_dataset(datasettype = "polle

[2019-05-10 20:14] SimonGoring commented on #236
Glad it worked.  I'll close this issue for now.  If there are issues feel free to re-open.

[2019-05-10 20:14] #236 closed

[2019-06-08 10:31] allisonstegner opened #239 "typo in get_dataset help page"
Under arguments > gpid, get.tables('GeoPoliticalUnits') should be get_table('GeoPoliticalUnits')

[2019-07-26 11:03] SimonGoring opened #240 "compile_taxa with user supplied lists"
Needs better documentation.  Running into a problem with the aggregation though for a set of sites.  We are getting issues with the actual compilation for some reason. . .

[code]

[2019-08-03 20:49] andydawson opened #241 "`data(pollen.equiv)` no longer works"
It used to be possible to view the pollen translation table using data(pollen.equiv). Not sure if the name of the table has changed, or if it no longer gets loaded properly when the package is loaded.

[2019-08-05 04:30] jessicablois opened #242 "Search for site names isn't working (brackets?)"
Someone (Dani Fraser) emailed me about automating searches for old Faunmap sites. She would like to be able to get data for exact matches, but for some reason the “get_site” call isn’t allowing her to search properly. See below for a screenshot of her error.

The object 'downs' in her first line is a download object from get_download using the dataset.id 4582.

![R get site error](https://user-ima

[2019-08-06 17:55] SimonGoring commented on #242
This is also an issue for NeotomaDB/api_nodetest:

This seems to be an API issue, that I need to track down.  For instance:

[code]
Does not work.  We will no longer be updating the `v1` API, so there's not much I can do about it.  That said, the new API:

[code]

Returns what we ought to expect.  Interestingly though, partial names fail:

[code]

So, this seems to be an API issue.

[2019-09-05 00:59] davidfastovich commented on #241
Having the same issue as well

[2019-09-05 18:07] davidfastovich commented on #241
Translation table only has 60 taxa in it for WS64 and below is why that happens:

The translation table sums together Fraxinus nigra and Fraxinus pennsylvanica/americana into Total Fraxinus for WS64 when they're all supposed to be separate. Iva is summed into Asteraceae when its also supposed to be separate. Southeast Pinus is also a taxa in the Williams and Shuman paper, but I'm not sure how this

[2019-09-05 20:42] SimonGoring commented on #241
I've added the translation table back into the package as its own data object.

These changes were pushed to the branch: https://github.com/SimonGoring/neotoma/tree/taxon_fixes

It will be merged with the main branch soon-ish, once I've made sure it passes all the neccessary tests.

For *Fraxinus* the issue is that there are sites with undifferentiated Fraxinus, and so taxa needed to be lumped to

[2019-09-05 21:04] davidfastovich commented on #241
Thanks for the quick fix, Simon! I built the package and `data("pollen_equiv")` works perfectly!

I might be confused, but in the paper the 64 species taxa list includes the more specific _Fraxinus nigra_ and _Fraxinus pennsylvanica/americana_ as separate from Total Fraxinus. I assumed this meant that where possible _Fraxinus_ identifiable to the species level, if nigra (for instance), would be pu

[2019-09-05 21:08] davidfastovich commented on #241
To clarify the _Fraxinus_ thing, Total Fraxinus would then include _Fraxinus_ that was not identifiable to the nigra, americana, or pennsylvanica species.

[2019-12-18 22:43] SimonGoring opened #243 "Issue with chron controls and age model relevancy."
Reported on the Neotoma slack channel

Let’s say the user using R is interested in one specific site:

1) When using the `get_chroncontrol()` for one site, it states in the R package documentation that "the most recent chronology is provided here". The most recent in what sense? When it was created? Here an example of a pollen record that has a radiocarbon default age model and a calibrated defaul

[2020-06-19 16:19] richardjtelford opened #244 "sampleID dropped from counts with single sample"
If a dataset has a single sample, rownames are dropped from the counts and lab.data
[code]

<sup>Created on 2020-06-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

I think the some drop = FALSE are needed - I'll try to send a pull request

[2020-09-18 17:33] allisonstegner opened #246 "get_closest description is for a different function?"
I think the description and some of the text in the example for this function are actually describing a different function. It talks about age modeling which does not seem to be related to the purpose of get_closest

[2020-09-18 18:29] allisonstegner commented on #246
Also, the buffer is evidently in meters, not in km as indicated in the help page

[2020-11-04 13:10] hannahwauchope opened #247 "get_taxa can't handle multiple ecolgroups"
Hi, I've just noticed a wee error in the get_taxa function. On line 73:

`output <- do.call(rbind.data.frame, output)`

It can't cope when multiple EcolGroups are listed (or multiple anything, but there only seems to be multiple ecol groups).

I've written a fix that just pastes multiple EcolGroups together into one string separated by an underscore (not sure if this is the most helpful for users?

[2021-01-14 13:02] wfinsinger opened #248 "read.tilia(file) no longer works?"
Hi,
Am trying to use the read.tilia() function but receive the following error message:
Error in data.frame(age.older = as.numeric(xml2::xml_text(xml2::xml_find_all(controls,  :
  arguments imply differing number of rows: 7, 1, 8

Is it because the tilia file should be formatted in a standard way? If so, could you tell which the requirements are to use the function?

Very best,

walt

[2022-01-10 12:18] richardjtelford opened #249 "browse() opens blank map"
When I run

`neotoma::browse(41623)`

Opens https://apps.neotomadb.org/explorer/?datasetid=41623 but just shows a blank map in my browser. Last year it was showing the location of the dataset.

I've tried with both firefox and chromium on Ubunutu 18.04

[2022-01-26 17:25] villegar commented on #249
@richardjtelford I came across the same issue and ended up tweaking the code a bit:
You could run the following inside your R session to create an updated version of `browse`:

[code]
The fix is adding an extra s, to the URL. Instead of ~https://apps.neotomadb.org/explorer/?datasetid=41623~, open the browser with https://apps.neotomadb.org/explorer/?datasetids=41623

Original code for reference:
[

[2022-01-28 11:59] richardjtelford commented on #249
That works for me - thank you

[2022-11-25 12:11] AMBarbosa opened #252 "get_dataset() now fails with url timeout error"
Hi, `get_dataset()` was working alright until the last time I used it (March this year), but now it's consistently failing (for the same taxa, and even for the Examples in the help file) with `Error in url::curl_fetch_memory(url, handle = handle) : Timeout was reached: [wnapi.neotomadb.org] Connection timed out after 10008 milliseconds`, even if I greatly increase `getOption('timeout')` in my R in

[2022-11-30 19:05] SimonGoring commented on #252
Hi @AMBarbosa thank you for reaching out. The package `neotoma` has now been deprecated. Unfortunately our `wnapi.neotomadb.org` server reached end of life and was no longer operable.

The package has been replaced by [neotoma2](https://github.com/NeotomaDB/neotoma2). As much as possible we have kept many of the same patterns, but there are new data structures.

The `wnapi` server was only passing